* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "rasa", sans-serif;
    ;
}

article {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 5% 10%;
}